.header{
    width: 100vw;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    position: 
    fixed;
}

.active {
    color: white;
    text-decoration: underline;
    font-weight: bold;
  }